h2 {
  text-align: center;
}

.p {
  text-align: center;
 
}

.padding {
	margin-top: 2cm;
	margin-bottom: 10px;
}

.align{
	
	  text-align: center;
}

body {
    font-family: "Lato", sans-serif;
    
}







